           <h3 class="headhome" align=center>Best Sellers of the Week</h3>
           <hr>
           <div ng-if="!showbestseller">
                    <h3>{{message}}</h3>
                </div>
                 <ul class="media-list">
            <li class="media" ng-repeat="bestseller in bestsellers">
              <div class="media" ng-if="showbestseller">
                    <div class="media-left media-middle">
                         <a ui-sref="app.bookdetails({id: bestseller.id})">
                        <img class="media-object img-thumbnail img-overlay"
                         src="{{bestseller.image}}" alt="Harry">
                        </a>
                </div>
                    <div class="media-body">
                <h2 class="media-heading">{{bestseller.name}} <span class="label label-danger">New</span><small> {{bestseller.author}}</small></h2>
                        <h4>Rating: {{bestseller.rating}}</h4>
                        <h5>{{bestseller.category}}</h5>
                         <p>{{bestseller.description}}
                         </p>
                    <p><a class="btn btn-primary btn-xs" ui-sref="app.bookdetails({id: bestseller.id})">More &raquo;</a></p>
                    </div>
                 </div>
                 <hr>
                 <p style="padding:10px;"></p>
             </li>
             </ul>
                <p style="padding:20px;"></p>
            <h3 align=center>Featured author</h3>
            <div class="media">
              <div class="media-body">
                <h2 class="media-heading">{{author.name}}</h2> 
                 <p>{{author.trivia}}</p>
                <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
               </div>
               <!-- MEDIA PHOTO -->
                <div class="media-right media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail img-overlay"
                         src="{{author.image}}" alt="">
                        </a>
                    </div>
                <!-- END MEDIA PHOTO -->
                </div>