<div id="navigation">
          <ul class="nav nav-sidebar top-level">
            <h4 class="text-muted">Books Deals</h4>
            <ol class="list-unstyled">
              <li><a href="#">Fantasy</a></li>
              <li><a href="#">Romance</a></li>
              <li><a href="#">Adventure</a></li>
              <li><a href="#">Comedy</a></li>
              <li><a href="#">Non-fiction</a></li>
              <li><a href="#">Mystery</a></li>
              <li><a href="#">History Fiction</a></li>
              <li><a href="#">Biography</a></li>
              <li><a href="#">Self-help</a></li>
              <li><a href="#">Erotica</a></li>
              <li><a href="#">Classic Fiction</a></li>
              <li><a href="#">Children Books</a></li>
            </ol>
            </ul>
          </div>